@import '../../styles';

.weekControls {
    margin: auto; 
    display: table;
}

.dayControls {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.dayControl {
    display: inline-block;
    border: 1px ridge $main2;
    background-color: $main;
    padding: 3px;
    width: 13%;
    text-align: center;
    cursor: pointer;
}

.dayControlActive,
.dayControl:hover {
    border: 1px ridge $main;
    background-color: $main2;
}

.dayControlActive {
    cursor: default;
}

.date {
    font-size: smaller;
}
