<input class="addDishButton" type="button" value="Lisää ruoka" (click)="openAddDishModal()">

<div class="addDishModal" *ngIf="showAddDishModal" (click)="closeAddDishModal()">
    <form [formGroup]="dishAddForm" (submit)="addDish($event)" (click)="$event.stopPropagation()">        
        <label for="foodName">Ruoka</label>
        <input name="foodName" type="text" class="form-control" formControlName="name" required>
        <br>
        <label for="dishGroup">Valitse ruokalaji</label>
        <select name="dishGroup" class="form-control" formControlName="dish" required>
            <option *ngFor="let dish of dishType.dishTypes()"
                    [value]="dish"> 
                    {{dishType.translateDishType(dish)}} 
            </option>
        </select>
        <br>
        <input type="submit" value="Lisää ruoka" [disabled]="!dishAddForm.value.name || dishAddForm.value.name.length < 1 || !dishAddForm.value.dish">
    </form>
</div>
