<input class="addDishButton" type="button" value="LISÄÄ RUOKA" (click)="openAddDishModal()">

<div class="addDishModal" *ngIf="showAddDishModal">
    <form [formGroup]="dishAddForm" (submit)="addDish($event)">
        <pre>{{dishAddForm.value | json}}</pre>
        <label for="foodName">Ruoka</label>
        <input name="foodName" type="text" class="form-control" formControlName="name" required>
        <label for="dishGroup">Valitse ruokalaji</label>
        <select name="dishGroup" class="form-control" formControlName="dish" required>
            <option *ngFor="let dish of dishType.dishTypes()"
                    [value]="dish"> 
                    {{dishType.translateDishType(dish)}} 
            </option>
        </select>
        <input type="submit" value="Lisää ruoka" [disabled]="!dishAddForm.value.name || dishAddForm.value.name.length < 1 || !dishAddForm.value.dish">
    </form>
</div>
