@import '../../styles';

.shoppingListButton {
    float: right;
    margin-right: 5%;
}

.shoppingList {
    z-index: 200;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: $background;
}

.shoppingItems {
    margin-top: 5px;
    text-align: center;
}

.shoppingItem {
    color: $secondary;
    background-color: $main;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    width: fit-content;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.removeItemButton {
    min-width: 10px !important;
    font-size: 10px !important;
    float: right;
    margin-right: 2px;
}

.printable {
    background: white !important;
    color: black;
    font-weight: normal;
}
