<input class="shoppingListButton" type="button" value="OSTOSLISTA" (click)="openShoppingList()">

<div *ngIf="opened" class="shoppingList" [class.printable]="usePrintableClass">    
    <input class="shoppingListButton" type="button" value="SULJE" (click)="closeShoppingList()">
    <input class="shoppingListButton" type="button" value="TULOSTETTAVA VERSIO" (click)="printableVersion()" *ngIf="!usePrintableClass">
    <div class="shoppingItems">
        <div *ngFor="let item of shoppingItems" class="shoppingItem"  [class.printable]="usePrintableClass">
            {{item}} <input class="removeItemButton" type="button" value="X" (click)="removeFromShoppingList(item)" *ngIf="!usePrintableClass">
        </div>
    </div>    
</div>
